.App {
  text-align: center;
}
h3{
  color: #3D5AFE;
}

.App-header {
  background-color: #6b7ad4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(56, 56, 56);
}

.formulario1 {
  display: grid;
  margin: auto;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.formtitle {
  color: #3D5AFE;
}
.label{
  height: 20px;
}

input,
select {
  width: 90.5%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #3D5AFE;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.usertable{
  display: grid;
  flex-flow: column;
  padding-top: 50px;
  margin-right: 20px;
  width: 70%;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  
}

.userInfo {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
  height:300px;
 
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

.altausuario{
  display: grid;
  padding-top: auto;
  margin-right: 20px;

  
 
  
}

.Botonagregar {
  margin: auto;
  margin-top: 12px;
}

.contenedorHome {
  display: flex;
  align-content: space-around;
  margin: auto;
  padding: auto;
  margin-top: 20px;
}

ul {
  list-style: none; 
  padding: 0; 
  margin: 0;
}

li {

  padding: 5px;
  margin: 5px 0;
  background-color:  #3d5afe2f;
  border-radius: 5px;



}
.formularioaltausuario{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  margin: auto;
  padding: 35px;
  height: auto;
  margin-bottom: 22px;
}
.navbar{
  display: flex;
  width: 100vw;
  height: 5vh;
  flex-direction: row-reverse;
  
}
.icon{
  display: flex;
  align-items:center;
  margin-right: 40px;
  margin-top: 12px;
  padding-top: 12px;
  color: #ffffff;
  cursor: pointer;

 
 
}
.alerta{
 
  mix-blend-mode:multiply;
}
